*.exe
*.ilk
*.obj
*.pdb
*.ini
*.gb
*.gbc
*.sav
*.sn1
*.k15_gb_state
*.k15_gb_ram
*.suo
.vscode
bugs.plan.txt
k15_win32_gb_emulator_release_disassembly.asm
testroms/
roms/
win32/build_debug
win32/build_release